.rm_plan_selection_card {
  min-height: 160px;
  &_card_icon {
    width: 32px;
    height: 32px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_title {
    color: #141938;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &_description {
    color: #141938;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: initial;
    gap: 0.5rem;
  }
  @media (width >= 1360px) {
    width: 288px;
    
    &_card_icon {
      width: 48px;
      height: 48px;
    }
    &_container {
      display: block;
    }
  }
}
