.rm_header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  font-family: 'Monserrat', Arial, sans-serif;
  padding: clamp(10px, 2vw, 14px) clamp(24px, 5vw, 120px);

  &__contact-container {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__contact-call-to-action {
    font-weight: 600;
    @media (width < 768px) {
      display: none;
    }
  }
  &__contact-call-number {
    font-weight: 700;
    color: $text-color-black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
