@use '@/styles/colors/colors.scss' as *;

.wrap-summary {
  background-color: rgb(249, 250, 255);
}

.rm_quote-summary {
  font-family: 'Lato', sans-serif;
  padding: clamp(10px, 2vw, 14px) clamp(24px, 5vw, 120px);
  color: #141938;

  &__title {
    font-size: 32px;
    margin-bottom: 3rem;
  }

  @media (width >= 1360px) {
    &__title {
      font-size: 40px;
    }
  }
}

.rm_quote-summary-card {
  &__title {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 20px;
    display: flex;
    gap: 0.8rem;
  }

  &__separator {
    border: none;
    height: 0.5px;
    background: #d7dbf5;
    border-radius: 1px;
  }

  &__section-title {
    font-size: 1rem;
    font-weight: 700;
  }

  &__info-item {
    font-size: 0.875rem;
    font-weight: 400;
  }
}
