:has(.rm_quote-form) {
  background: radial-gradient(ellipse 432px 656px at -4% 70%, #c333ff 5%, transparent 45%),
    radial-gradient(ellipse 432px 656px at 104% 14%, #7af8eb 1%, transparent 45%);
}
.rm_quote-form {
  display: grid;
  width: 100%;
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px 1fr;
  font-family: 'Monserrat', Arial, sans-serif;

  grid-template-areas:
    'badge  image'
    'title  image'
    'text   text'
    'form   form';
  padding: clamp(10px, 2vw, 14px) clamp(24px, 5vw, 120px);

  &__image {
    grid-area: image;
    max-width: 136px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }

  &__badge {
    grid-area: badge;
    display: inline-block;
    padding: 0.35rem 0.85rem;
    background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
    color: #03050f;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 0.3rem;
    white-space: nowrap;
  }

  &__title {
    grid-area: title;
    font-weight: 700;
    font-size: 1.625rem;
  }

  &__subtitle {
    grid-area: text;
    border-top: 1px solid #ccd1ee;
    padding-top: 1em;
  }

  &__form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__form-group {
    display: flex;
  }

  &__checkbox-group {
    .rm-checkbox__label {
      font-size: 0.75rem;
    }
  }

  &__terms-link {
    font-size: 0.75rem;
    text-decoration: underline;
  }

  @media (width >= 1360px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'image  badge'
      'image  title'
      'image   text'
      'image   form';

    &__image {
      max-width: 100%;
    }

    &__badge {
      width: fit-content;
    }

    &__title {
      font-size: 2rem;
      max-width: 352px;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    &__subtitle {
      border-top: none;
      font-size: 0.875rem;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    &__form {
      display: flex;
      gap: 1rem;
    }
    .rm_button {
      // en el diseño recomeinda esto, sin embargo por ux estire el botón al ancho del contenedor
      // max-width: 195px;
      font-size: 1.25rem;
    }

    :is(&__content, &__subtitle, &__form) {
      max-width: 352px;
    }
  }

  //   &__separator {
  //     grid-area: separator;
  //     background-color: #ccd1ee;
  //     height: 1px;
  //     width: 290px;
  //     margin: 20px 0;
  //     @media (width > 768px) {
  //       display: none;
  //     }
  //   }
}
